.client-list {
	line-height: 1.25;
	font-size: clamp(2.125rem, 2.5vw, 2.65625rem);

	.client-link {
		text-transform: uppercase;
		text-decoration: none;

		&:nth-last-child(2) {
			margin-right: 1.25em;
		}

		@media screen and (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	a {
		font-size: clamp(2.125rem, 2.5vw, 2.65625rem);
	}

	.dots {
		display: inline;

		white-space: nowrap;

		.dot {
			display: inline-block;
			vertical-align: baseline;
			height: 0.75em;
			width: 0.75em;
			background-color: black;

			&:not(:last-child) {
				margin-right: 0.375em;
			}
		}
	}
}
