// Projects page styling
body {
	main {
		height: calc(100vh - var(--header-height));
		height: calc(100dvh - var(--header-height));
		padding: 0;

		.project-archive {
			width: 100%;
			height: 100%;
		}
	}
}

// Import generic stylesheets
@import "@styles/content-card.scss";

// Import component stylesheets
@import "@components/ProjectArchive/ProjectArchive.scss";
