// Projects page styling
body {
	main {
		height: calc(100vh - var(--header-height));
		height: calc(100dvh - var(--header-height));
		padding-top: 0;

		.project-archive {
			height: 100%;
			padding-bottom: 0;

			.minimal-footer {
				width: calc(100% + var(--main-padding-inline) * 2);
				padding-block: 1rem;

				.footer-menu {
					justify-content: center;
				}
			}
		}
	}
}

// Import generic stylesheets
@import "@styles/content-card.scss";

// Import component stylesheets
@import "@components/ProjectArchive/ProjectArchive.scss";
