// Stylesheet import
@use "@styles/project-section.scss";
@use "@styles/side-note.scss";
@use "@components/Video/Video.scss";

// Project variables
$color-red: #b20933;
$color-light-red: #7d5753;
$color-dark-red: #3e0505;
$color-light-pink: #b09690;
$color-beige: #cdc9b7;
$color-gold: #f7a600;
$color-medium-gray: #bbbcbc;
$color-dark-gray: #75787b;
$color-blue: #3d73ff;
$color-light-blue: #00b4ff;
$bg-white: #f3ebe4;
// Utility classes
.col-red {
	color: $color-red;
}
.col-light-red {
	color: $color-light-red;
}
.col-dark-red {
	color: $color-dark-red;
}
.col-light-pink {
	color: $color-light-pink;
}
.col-dark-gray {
	color: $color-dark-gray;
}

.col-gold {
	color: $color-gold;
}
.col-white {
	color: white;
}
.col-blue {
	color: $color-blue;
}
.col-beige {
	color: $color-beige;
}
.bg-col-beige {
	background-color: $color-beige;
}
.bg-col-red {
	background-color: $color-red;
}
.bg-col-light-red {
	background-color: $color-light-red;
}
.bg-col-dark-red {
	background-color: $color-dark-red;
}
.bg-col-light-pink {
	background-color: $color-light-pink;
}
.bg-col-medium-gray {
	background-color: $color-medium-gray;
}
.bg-col-dark-gray {
	background-color: $color-dark-gray;
}
.bg-col-black {
	background-color: black;
}
.bg-col-white {
	background-color: $bg-white;
}
.bg-col-blue {
	background-color: $color-blue;
}

// General styling
body {
	--color-light: #f3ebe4;
	--color-light-rgb: 243, 235, 228;
	main {
		margin-top: 0;
		padding: 0;
		background-color: white;
	}
	.site-header.hidden .logo {
		transform: translateX(44%);
		transition: transform 0.3s ease-in-out 0s;
		fill: black !important;
	}
	.site-header {
		box-shadow: var(--no-box-shadow-bottom);
		padding-inline: var(--main-padding-inline);
		&:before {
			background-color: transparent;
			backdrop-filter: blur(0rem);
		}

		.home-link {
			&::after {
				background-color: $color-blue;
			}

			.logo {
				fill: #000000;
			}
		}

		.header-menu,
		.contact-menu {
			.menu-item {
				.menu-item-link {
					color: #000000;
					transition: color 0.1s ease-in-out;
					@media screen and (hover: hover) and (pointer: fine) {
						&:hover {
							color: $color-blue;
						}
					}
				}

				&.active-menu-item,
				&.has-active-menu-item {
					.menu-item-link {
						color: $color-blue;
					}
				}
			}
		}

		@media screen and (max-width: 1024px) {
			.header-menu {
				.nav-menu {
					background-color: $color-dark-gray;
				}
			}
		}

		.mobile-menu-button {
			.menu-icon {
				.menu-icon-stroke {
					stroke: rgb(255, 255, 255);
				}
			}
		}
	}
	.site-footer {
		padding-top: 0;
		background-color: white;
	}

	.highlight-circle {
		&::after {
			transform: translate(-50%, -50%) rotate(-3deg);
			left: 50%;
			width: 105%;
			height: 110%;
			border-color: $color-red;
			@media screen and (max-width: 768px) {
				display: block;
			}
		}
	}
}

main:has(.project-wrapper.pleasure) {
	font-family: "AS Oetztal", sans-serif;
	overflow: hidden;
}

// Layout Styling

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.flex-center {
	display: flex;
	justify-content: center;
}

// Text styling
$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-big: 18px;
$font-size-large: 24px;
$font-size-larger: 30px;
$font-size-huge: 36px;

$line-height: 1.5;
$small-line-height: 1.35;
$smaller-line-height: 1;

.meta-headline {
	font-weight: 700;
	font-size: $font-size-big;
	margin-bottom: 0;
	color: $color-light-pink;
	text-transform: uppercase;
}
.text-is-large {
	font-size: clamp(1.75rem, 2.75vw, 1.875rem);
	font-weight: 400;
}
.is-text {
	line-height: $small-line-height;
	margin: 0.625rem 0 2.5rem;
	font-weight: 300;
	font-size: $font-size !important;

	@include minquery($screen-l) {
		font-size: $font-size-big !important;
	}
}

.is-bold {
	font-weight: 600;
}

.is-uppercase {
	text-transform: uppercase;
}

.section-name {
	display: none;
	position: absolute;
	left: 1rem;
	top: 21%;
	font-family: "Adelle Oetztal", sans-serif;
	@include minquery($screen-m) {
		display: block;
		font-size: $font-size;
		position: absolute;
		z-index: 4;
		text-transform: uppercase;
		font-weight: 400;

		writing-mode: vertical-rl;
		transform: rotate(180deg);
		height: fit-content;
	}

	@include minquery($screen-l) {
		font-size: $font-size-big;
	}
}

// Paddings and Margins

.has-padding-lr {
	padding-left: 0.75rem;
	padding-right: 0.75rem;

	@include minquery($screen-l) {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
}

// Project styling

.pleasure {
	.section-1 {
		padding-block: 6%;
	}
}
