// Include SOELDEN fonts
@font-face {
	font-family: "AS Soelden Headline";
	src: url("@fonts/ASSoeldenHL/ASSoeldenHLWEB-HeavyFlex.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "AS Soelden";
	src: url("@fonts/ASSoelden/ASSoelden-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "AS Soelden";
	src: url("@fonts/ASSoelden/ASSoelden-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
