$projects-gap: 3rem;

.projects-preview {
	padding-block: 1.375rem 6rem;
	background-color: #eceff0;

	.projects {
		display: flex;
		gap: $projects-gap;
		flex-wrap: wrap;
		width: 100%;

		.project {
			flex: 1 0 calc(33.333% - 2rem);
			min-width: 20rem;

			.project-link {
				display: block;
				position: relative;
				width: 100%;
				text-decoration: none;

				.project-thumbnail {
					width: 100%;
				}

				.project-footer {
					margin-top: 1.5vw;

					.project-title {
						font-size: max(1.125rem, 1.25vw);
					}

					.project-category {
						margin: 0;
						font-size: max(1rem, 1.125vw);
						color: var(--color-primary);
					}
				}
			}
		}
	}
}
