$projects-gap: 10vw;

.projects-preview {
	width: 100%;
	margin-block: 6rem;

	.subline {
		margin-top: 0.5em;
		text-align: center;
		font-size: 1.375em;
	}

	.title {
		margin-bottom: 1.5em;
		text-transform: uppercase;
		font-size: max(2em, 3vw);
	}

	.projects {
		display: flex;
		flex-direction: column;
		gap: $projects-gap;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 4vw;
		perspective: 60px;

		.project {
			width: 100%;

			.project-link {
				display: block;
				position: relative;
				width: 100%;

				.project-header {
					/** --- START: Not displaying header, project title already in thumbnail --- **/
					display: none;
					/** --- END --- **/
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 40%;
					padding: 0.875rem 0.75rem;
					background-image: linear-gradient(
						rgba(255, 255, 255, 0.35),
						rgba(255, 255, 255, 0)
					);

					.project-title {
						margin: 0;
						font-size: 1.625rem;
						text-align: center;
						transition: transform 0.2s ease-out;
					}
				}
			}

			.project-thumbnail {
				width: 100%;
			}
		}

		.project-archive-button-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		@media screen and (min-width: 769px) {
			flex-direction: row;

			.project {
				flex: 0 0 calc(50% - ($projects-gap / 2));

				.project-link {
					.project-header {
						padding: 1.625vw 1.5vw;

						.project-title {
							font-size: 2.5vw;
						}
					}
				}

				&:nth-child(4n + 2),
				&:nth-child(4n + 3) {
					transform: translateZ(-15px) scale(1.25);
				}
			}

			.project-archive-button-container {
				flex: 0 0 100%;

				&:not(:nth-child(odd)) {
					flex: 0 0 calc(50% - ($projects-gap / 2));
					transform: translateZ(-15px) scale(1.25);
				}
			}
		}
	}
}

// Import component stylesheets
@import "../Button/Button.scss";
