.bullet-list {
	margin-block: 1.625rem;

	.heading {
		font-size: clamp(2em, 2vw, 2.125em);
		margin-block: 0 0.75rem;
	}

	ul {
		padding-left: 1.5rem;
		margin-block: 0;
		list-style: none;

		li {
			position: relative;
			line-height: 1.25;
			font-size: clamp(1rem, 1.25vw, 1.328125rem);

			&::before {
				content: "";
				display: block;
				position: absolute;
				transform: translateY(-50%);
				top: 0.65em;
				left: -1rem;
				width: 0.25rem;
				height: 0.25rem;
				border-radius: 5rem;
				background-color: black;
			}
		}
	}
}
