// Import component stylesheets
@use "@components/MinimalFooter/MinimalFooter.scss";

// Contact page styling
body {
	@media screen and (hover: hover) {
		a {
			text-decoration: none;

			&:hover {
				color: white;
				text-decoration: underline !important;
			}
		}
	}

	.site-header {
		&::before {
			background-color: #3b6df4;
		}

		.menu-item.active-menu-item .menu-item-link {
			color: white;
			text-decoration: underline;
		}

		.home-link::after {
			background-color: white;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 0;
		padding-top: calc(var(--main-padding-block) + var(--header-height));
		background-size: cover;

		* {
			color: white;
		}

		.page-title {
			margin-top: 2.5rem;
		}

		.contact-data {
			margin-bottom: 4rem;

			.row.links {
				a {
					display: block;

					.prefix {
						padding-right: 1rem;
					}

					.text {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.contact-footer {
		justify-content: space-between;
		background-color: #3b6df4;

		@media screen and (max-width: 640px) {
			gap: 1rem;
			flex-direction: column;
		}

		.contact-links {
			display: flex;
			gap: 3rem;
			a {
				text-transform: uppercase;
				color: white;
			}
		}

		.some-links {
			display: flex;
			gap: 1.5rem;

			.social-media-icon {
				fill: black;
			}
		}
	}
}
