// Import fonts
@import "../../../../../assets/src/styles/base-fonts.scss";

// Contact page styling
body {
	main {
		.contact-info {
			margin-top: 2rem;

			@media screen and (min-width: 768px) {
				margin-block: 4rem var(--main-padding-inline);
			}

			.content {
				display: flex;
				gap: 3rem;
				padding: 3rem 2rem;

				@media screen and (min-width: 768px) {
					gap: 10rem;
				}

				@media screen and (max-width: 768px) {
					flex-direction: column;
					margin-inline: calc(-1 * var(--main-padding-inline));
				}

				.slot {
					max-width: 30rem;

					&.start {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: 2rem;
						flex-wrap: wrap;

						@media screen and (min-width: 768px) {
							flex-direction: column;
						}
					}
				}

				.so-me-links {
					display: flex;
					gap: 1rem;

					@media screen and (min-width: 768px) {
						flex-direction: column;
					}
				}

				.contact-link {
					white-space: nowrap;
					text-decoration: none;
					margin: 0 !important;
				}

				.intro {
					margin-block: 0;
				}

				.awards {
					margin-top: 3rem;

					.awards-heading {
						margin-block: 0;
						font-size: 1.5rem;
					}
				}

				.contact-data,
				.awards {
					display: flex;
					flex-direction: column;
					gap: 1rem;

					.row,
					.award {
						display: flex;
						flex-direction: column;
						gap: 0.25rem;

						& > * {
							margin-block: 0;
						}
					}
				}
			}
		}
	}
}

// Import component stylesheets
@import "../../../../../../components/MinimalFooter/MinimalFooter.scss";
