// Include fonts used on error page
@font-face {
	font-family: "JetBrainsMono";
	src: url("@fonts/JetBrainsMono/JetBrainsMono-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "JetBrainsMono";
	src: url("@fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
