// Include fonts used on error page
@font-face {
	font-family: "JetBrainsMono";
	src: url("../../../../../content/resources/fonts/JetBrainsMono/JetBrainsMono-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "JetBrainsMono";
	src: url("../../../../../content/resources/fonts/JetBrainsMono/JetBrainsMonoNL-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}
