.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: var(--header-height);
	padding-inline: var(--main-padding-inline);
	background-color: rgba(var(--color-light-rgb), 0.5);
	backdrop-filter: blur(0.5rem);
	box-shadow: var(--box-shadow-bottom);
	transition: all 0.35s ease-in-out;

	.slot {
		display: flex;
		align-items: center;
		flex: 1 0 0;

		&.center {
			justify-content: center;
		}

		&.end {
			justify-content: flex-end;
		}

		.nav-menu,
		.mobile-menu-button,
		.contact-menu {
			position: relative;
			transition: all 0.35s ease-in-out;
		}
	}

	&.hidden {
		background-color: rgba(var(--color-light-rgb), 0);
		backdrop-filter: blur(0rem);
		box-shadow: var(--no-box-shadow-bottom);

		.slot {
			&.start,
			&.end {
				@media screen and (min-width: 1025px) {
					.nav-menu {
						transform: translateY(calc(-1 * var(--header-height)));
						opacity: 0;
					}
				}

				@media screen and (max-width: 1024px) {
					.mobile-menu-button,
					.contact-menu {
						transform: translateY(calc(-1 * var(--header-height)));
						opacity: 0;
					}
				}
			}
		}
	}
}

// Import component stylesheets
@import "../HomeLink/HomeLink.scss";
@import "../HeaderMenu/HeaderMenu.scss";
@import "../ContactMenu/ContactMenu.scss";
