// Stylesheet import
@import "@styles/project-section.scss";
@import "@styles/side-note.scss";
@import "@styles/services.scss";

// Project variables
$color-anthrazit: #24353f;
$color-beige: #fedcab;
$color-light-blue: #cfe3f5;
$color-medium-gray: #7f7f7f;

// Utility classes
.col-anthrazit {
	color: $color-anthrazit;
}
.col-beige {
	color: $color-beige;
}
.col-light-blue {
	color: $color-light-blue;
}
.col-white {
	color: white;
}

.bg-col-anthrazit {
	background-color: $color-anthrazit;
}
.bg-col-beige {
	background-color: $color-beige;
}
.bg-col-light-blue {
	background-color: $color-light-blue;
}
.bg-col-white {
	background-color: white;
}

.text-large {
	font-size: max(1.5em, 1.3vw);
}

.mobile-only {
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.desktop-only {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

// General styling
body {
	background-color: $color-beige;

	.site-header {
		box-shadow: var(--no-box-shadow-bottom);

		&:before {
			background-color: $color-anthrazit;
			backdrop-filter: blur(0rem);
		}

		.home-link {
			&::after {
				background-color: $color-light-blue;
			}

			.logo {
				fill: white;
			}
		}

		.header-menu,
		.contact-menu {
			.menu-item {
				.menu-item-link {
					color: white;

					@media screen and (hover: hover) and (pointer: fine) {
						&:hover {
							color: $color-anthrazit;
						}
					}
				}

				&.active-menu-item,
				&.has-active-menu-item {
					.menu-item-link {
						color: $color-light-blue;
					}
				}
			}

			.mobile-menu-button {
				.menu-icon {
					.menu-icon-stroke {
						stroke: white;
					}
				}
			}
		}
	}

	main {
		padding: 0;
		font-family:
			AS Soelden,
			Relevant,
			Arial,
			Helvetica,
			sans-serif;

		h1,
		h2,
		h3 {
			margin-block: 1.8vw;
			font-family:
				AS Soelden HL,
				Relevant,
				Arial,
				Helvetica,
				sans-serif;
			font-size: max(1.75rem, 2.75vw);
			color: $color-anthrazit;
		}

		p {
			margin-block: 1.75vw;
			font-size: max(1.125rem, 1.25vw);
		}

		.highlight-circle {
			&::after {
				transform: translate(-50%, -50%) rotate(-3deg);
				left: 50%;
				width: 105%;
				height: 110%;
				border-color: $color-anthrazit;

				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}
	}

	.site-footer {
		background-color: $color-anthrazit;
	}
}

// Component styling
.side-note {
	color: $color-medium-gray;
}
.services {
	padding-top: 4%;
	margin-bottom: 8%;

	@-moz-document url-prefix() {
		& {
			scrollbar-color: $color-beige $color-anthrazit;
		}
	}

	&::-webkit-scrollbar-track {
		background: $color-beige;
	}

	&::-webkit-scrollbar-thumb {
		background: $color-anthrazit;
	}

	.service {
		color: $color-anthrazit;
	}
}
