// Stylesheet import
@use "@styles/project-section.scss";
@use "@styles/side-note.scss";
@use "@styles/services.scss";

// Project variables
$color-anthrazit: #24353f;
$color-beige: #fedcab;
$color-light-blue: #cfe3f5;
$color-medium-gray: #7f7f7f;

// Utility classes
.col-anthrazit {
	color: $color-anthrazit;
}
.col-beige {
	color: $color-beige;
}
.col-light-blue {
	color: $color-light-blue;
}
.col-white {
	color: white;
}

.bg-col-anthrazit {
	background-color: $color-anthrazit;
}
.bg-col-beige {
	background-color: $color-beige;
}
.bg-col-light-blue {
	background-color: $color-light-blue;
}
.bg-col-white {
	background-color: white;
}

.mobile-only {
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.desktop-only {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.desktop-only {
	display: none !important;

	@include minquery($screen-m) {
		display: block !important;
	}
}
.mobile-only {
	display: block !important;

	@include minquery($screen-m) {
		display: none !important;
	}
}

// General styling
body {
	.site-header {
		box-shadow: var(--no-box-shadow-bottom);

		&:before {
			background-color: $color-anthrazit;
			backdrop-filter: blur(0rem);
		}

		.home-link {
			&::after {
				background-color: $color-light-blue;
			}

			.logo {
				fill: white;
			}
		}

		.header-menu,
		.contact-menu {
			.menu-item {
				.menu-item-link {
					color: white;

					@media screen and (hover: hover) and (pointer: fine) {
						&:hover {
							color: $color-anthrazit;
						}
					}
				}

				&.active-menu-item,
				&.has-active-menu-item {
					.menu-item-link {
						color: $color-light-blue;
					}
				}
			}

			.mobile-menu-button {
				.menu-icon {
					.menu-icon-stroke {
						stroke: white;
					}
				}
			}
		}
	}

	main {
		overflow-x: hidden;
		padding: 0;
		font-family:
			AS Soelden,
			Relevant,
			Arial,
			Helvetica,
			sans-serif;
		background-color: $color-beige;

		h1,
		h2 {
			margin-block: 1.8vw;
			font-family:
				AS Soelden HL,
				Relevant,
				Arial,
				Helvetica,
				sans-serif;
			font-size: clamp(1.75rem, 2.75vw, 2.921875rem);
			color: $color-anthrazit;
		}

		h3 {
			margin-block: 1.75vw;
			font-size: clamp(1rem, 1.25vw, 1.328125rem);
			color: $color-beige;
		}

		p {
			margin-block: 1.75vw;
		}

		.highlight-circle {
			&::after {
				transform: translate(-50%, -50%) rotate(-3deg);
				left: 50%;
				width: 105%;
				height: 110%;
				border-color: $color-light-blue;

				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}
	}

	.site-footer {
		padding-top: 0;
		background-color: $color-anthrazit;
	}
}

// Component styling
.side-note {
	color: $color-medium-gray;
}

// Project styling
#illu-section {
	.background-image {
		transform: rotate(6deg);
		top: -12%;
		right: -20%;
		left: unset;
		width: 67%;
		height: auto;
	}
}

#poster-section {
	@media screen and (min-width: 769px) {
		.image {
			width: calc(100% + 8.75rem);
			max-width: calc(100% + 8.75rem);
			margin-inline: -4.375rem;
		}
	}
}

#shopping-event-image {
	border: 0.0625rem solid $color-anthrazit;
	width: 70%;
	@include minquery($screen-m) {
		width: 100%;
	}
}

#bag-section {
	background-image: linear-gradient(
		$color-light-blue 55%,
		$color-anthrazit 55%
	);
}

#mug-section {
	overflow-x: hidden;

	@media screen and (min-width: 769px) {
		.image {
			width: 60%;
			margin-left: 45%;
		}
	}
}

#outro-section {
	@media screen and (min-width: 769px) {
		.image {
			padding-inline: var(--main-padding-block);
		}
	}
}

#services-section {
	display: block;

	.content {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column !important;
		flex-wrap: wrap;
		padding: 0 0.75rem;

		@include minquery($screen-m) {
			padding: 0 70px;
		}
		.text-is-large {
			font-size: clamp(1.75rem, 2.75vw, 1.875rem);
			font-weight: 300;
		}

		.services {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0.25rem;
			justify-content: flex-start;
			padding: 0;

			.services-title {
				font-weight: 600;
				color: $color-medium-gray;
				text-transform: uppercase;
			}
			.separator {
				margin-inline: 0.25rem;
				color: $color-medium-gray;
			}
		}
	}
}
