.logo {
	height: 1.25rem;
	overflow: hidden;
	fill: var(--color-dark);
	transition:
		transform 0.3s ease-in-out 0.08s,
		fill 0.1s ease-out;

	.letters {
		transition: opacity 0.06s;

		&#R {
			transition-delay: 0.05s;
		}

		&#D {
			transition-delay: 0.1s;
		}

		&#E {
			transition-delay: 0.15s;
		}

		&#N_2 {
			transition-delay: 0.2s;
		}
	}

	.site-header.hidden & {
		transform: translateX(44%);
		transition: transform 0.3s ease-in-out 0s;

		.letters {
			&:not(#N_1) {
				opacity: 0;
			}

			&#O {
				transition-delay: 0.2s;
			}

			&#R {
				transition-delay: 0.15s;
			}

			&#D {
				transition-delay: 0.1s;
			}

			&#E {
				transition-delay: 0.05s;
			}

			&#N_2 {
				transition-delay: 0s;
			}
		}
	}
}
