.people-gallery {
	display: flex;
	gap: 4rem;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 70rem;
	margin: 6rem auto;

	.person {
		flex: 0 0 100%;

		.person-image {
			width: 100%;
		}

		@media screen and (min-width: 590px) {
			flex: 1 0 15rem;

			&:nth-child(1) {
				margin-top: 3rem;
			}

			&:nth-child(3) {
				margin-top: 2rem;
			}

			&:nth-child(4) {
				margin-top: 1rem;
			}

			&:nth-child(5) {
				margin-top: 4rem;
			}

			.person-name {
				text-transform: uppercase;
				font-size: 1em;
				font-weight: bold;
			}
		}
	}
}
