// Stylesheet import
@import "@styles/project-section.scss";
@import "@styles/side-note.scss";
@import "@components/Video/Video.scss";

// Project variables
$color-red: #b20933;
$color-light-red: #7d5753;
$color-dark-red: #3e0505;
$color-light-pink: #b09690;
$color-beige: #f3ebe4;
$color-gold: #f7a600;
$color-medium-gray: #7f7f7f;

// Utility classes
.col-red {
	color: $color-red;
}
.col-light-red {
	color: $color-light-red;
}
.col-dark-red {
	color: $color-dark-red;
}
.col-light-pink {
	color: $color-light-pink;
}
.col-beige {
	color: $color-beige;
}
.col-gold {
	color: $color-gold;
}
.col-white {
	color: white;
}

.bg-col-red {
	background-color: $color-red;
}
.bg-col-light-red {
	background-color: $color-light-red;
}
.bg-col-dark-red {
	background-color: $color-dark-red;
}
.bg-col-light-pink {
	background-color: $color-light-pink;
}
.bg-col-beige {
	background-color: $color-beige;
}
.bg-col-gold {
	background-color: $color-gold;
}
.bg-col-white {
	background-color: white;
}

.text-large {
	font-size: max(1.5em, 1.3vw);
	font-weight: 400;
}

.mobile-only {
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.desktop-only {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

// General styling
body {
	--color-light: #f3ebe4;
	--color-light-rgb: 243, 235, 228;

	.site-header {
		box-shadow: var(--no-box-shadow-bottom);

		&:before {
			background-color: var(--color-light);
			backdrop-filter: blur(0rem);
		}

		.home-link {
			&::after {
				background-color: $color-red;
			}

			@media screen and (hover: hover) and (pointer: fine) {
				&:hover {
					.logo {
						fill: $color-red;
					}
				}
			}
		}

		.header-menu,
		.contact-menu {
			.menu-item {
				.menu-item-link {
					@media screen and (hover: hover) and (pointer: fine) {
						&:hover {
							color: $color-red;
						}
					}
				}

				&.active-menu-item,
				&.has-active-menu-item {
					.menu-item-link {
						color: $color-red;
					}
				}
			}
		}
	}

	main {
		overflow-x: hidden;
		padding: 0;
		font-family:
			AS Oetztal,
			Relevant,
			Arial,
			Helvetica,
			sans-serif;

		h1,
		h2 {
			margin-block: 2.25vw;
			font-size: max(1.75rem, 2.75vw);
			color: $color-light-pink;
		}

		h3 {
			margin-block: 1.75vw;
			font-size: max(1.125rem, 1.25vw);
			color: $color-light-red;
		}

		p {
			margin-block: 1.75vw;
			font-size: max(1.125rem, 1.25vw);
			font-weight: 300;
		}

		.highlight-circle {
			&::after {
				transform: translate(-50%, -50%) rotate(-3deg);
				left: 50%;
				width: 105%;
				height: 110%;
				border-color: $color-gold;

				@media screen and (max-width: 768px) {
					display: none;
				}
			}
		}
	}

	.site-footer {
		padding-top: 0;
		background-color: $color-dark-red;
	}
}

// Component styling
.side-note {
	color: $color-medium-gray;
}
.soelden-text-block {
	@media screen and (min-width: 769px) {
		& > *:not(h2) {
			margin-left: 7vw;

			&.image,
			&.video,
			&.svg {
				width: calc(100% - 7vw);
			}
		}
	}
}

// Project styling
#modification-section {
	.column:first-child {
		position: relative;

		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			width: 50%;
			height: 100%;
			object-fit: cover;
			object-position: 100%;
		}
	}
}

#typo-animation-section {
	.video {
		border: 0.0625rem solid $color-beige;
	}
}

#big-a-section {
	.content {
		overflow-x: hidden;

		.image {
			width: 70%;
			margin-top: -1%;
			margin-left: -1.1%;
		}
	}

	.background-image {
		top: unset;
		right: var(--main-padding-inline);
		bottom: 32%;
		left: unset;
		width: 38%;
		height: auto;
	}
}

#overview-section {
	.content {
		.column:first-child {
			display: flex;
			align-items: space-between;
			justify-content: space-between;

			& > * {
				margin: 0;
			}

			@media screen and (min-width: 769px) {
				flex-direction: column;

				& > *:first-child {
					margin-top: 30%;
				}
			}
		}
	}
}
