// Home page styling

// Import generic stylesheets
@use "@styles/content-card.scss";

// Import component stylesheets
@use "@components/ShowReel/ShowReel.scss";
@use "@components/Video/Video.scss";
@use "@components/ProjectsPreview/ProjectsPreview.scss";
@use "@components/ClientList/ClientList.scss";
@use "@components/ClientLogoStrip/ClientLogoStrip.scss";
@use "@components/MinimalFooter/MinimalFooter.scss";

.intro-wrapper {
	margin-top: 2rem;

	.intro-timeline-wrapper {
		display: flex;

		@media screen and (min-width: 695px) {
			gap: 2.5vw;
		}

		.timeline-strip {
			width: 0.3125rem;
			background-color: var(--color-primary);

			@media screen and (max-width: 694px) {
				display: none;
			}
		}
	}

	.intro-entry {
		display: flex;
		flex-wrap: wrap;
		gap: 1.25em;

		&:not(:first-child) {
			margin-top: min(9vw, 6rem);
		}

		&.outside-timeline {
			margin-bottom: min(9vw, 6rem);

			@media screen and (min-width: 695px) {
				padding-left: calc(2.5vw + 0.3125rem);
			}
		}

		& > * {
			flex-grow: 1;

			&:first-child {
				flex-basis: calc(25% - 1rem);
				min-width: 10rem;
			}

			&:last-child {
				flex-basis: calc(75% - 1rem);
			}
		}

		@media screen and (min-width: 695px) {
			&.big-margin {
				margin-top: 9rem;
			}

			&.huge-margin {
				margin-top: 18rem;
			}
		}

		p {
			margin: 0;
		}

		.button {
			margin-top: min(8vw, 3.5rem);
		}

		.all-projects-wrapper {
			display: flex;
			align-items: center;
			gap: 8vw;

			.button {
				margin-top: 0;
			}
		}
	}
}

.site-footer {
	background-color: #eceff0;
}
