// Home page styling

// Import generic stylesheets
@use "@styles/content-card.scss";

// Import component stylesheets
@use "@components/ShowReel/ShowReel.scss";
@use "@components/Video/Video.scss";
@use "@components/ProjectsPreview/ProjectsPreview.scss";
@use "@components/ClientList/ClientList.scss";
@use "@components/ClientLogoStrip/ClientLogoStrip.scss";
@use "@components/MinimalFooter/MinimalFooter.scss";

.desktop-only {
	display: none !important;

	@include minquery($screen-m) {
		display: block !important;
	}
}
.mobile-only {
	display: block !important;

	@include minquery($screen-m) {
		display: none !important;
	}
}
.site-header {
	box-shadow: var(--no-box-shadow-bottom);
	padding-inline: var(--main-padding-inline);
	&:before {
		background-color: transparent;
		backdrop-filter: blur(0rem);
	}
}
.intro-wrapper {
	margin-top: 2rem;
	.mobile-intro {
		padding-top: 2rem;
		font-size: 1.25rem;
	}

	.row.desktop-only {
		@include minquery($screen-m) {
			display: flex !important;
		}
	}
	.intro-timeline-wrapper {
		--timeline-strip-width: 0.2125rem;
		--timeline-strip-gap: 2.5vw;
		--timeline-arrow-height: 0.9rem;
		--timeline-arrow-width: 0.9rem;

		position: relative;

		@media screen and (min-width: 695px) {
			padding-left: calc(var(--timeline-strip-gap) + var(--timeline-strip-width));
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: var(--timeline-strip-width);
			background-color: var(--color-primary);

			@media screen and (max-width: 694px) {
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			left: calc((var(--timeline-strip-width) / 2) - (var(--timeline-arrow-width) / 2) - 0.025rem);
			bottom: -0.5rem;
			width: 0;
			height: 0;
			border-left: calc(var(--timeline-arrow-width) / 2) solid transparent;
			border-right: calc(var(--timeline-arrow-width) / 2) solid transparent;
			border-top: var(--timeline-arrow-height) solid var(--color-primary);

			@media screen and (max-width: 694px) {
				display: none;
			}
		}
	}

	.intro-entry {
		&:not(:first-child) {
			margin-top: min(9vw, 6rem);
		}

		&.outside-timeline {
			margin-bottom: min(9vw, 6rem);
		}

		@media screen and (min-width: 695px) {
			&.big-margin {
				margin-top: 9rem;
			}

			&.huge-margin {
				margin-top: 18rem;
			}
		}

		p {
			margin: 0;
		}

		.button {
			margin-top: min(8vw, 3.5rem);
		}

		.all-projects-wrapper {
			display: flex;
			align-items: center;
			gap: 8vw;

			.button {
				margin-top: 0;
			}
		}
	}
}

.site-footer {
	background-color: #eceff0;
}
