// Home page styling

// Import generic stylesheets

// Import component stylesheets
@use "@components/ShowReel/ShowReel.scss";
@use "@components/Video/Video.scss";
@use "@components/ProjectsPreview/ProjectsPreview.scss";
@use "@components/ClientList/ClientList.scss";
@use "@components/ClientLogoStrip/ClientLogoStrip.scss";
@use "@components/MinimalFooter/MinimalFooter.scss";

.desktop-only {
	display: none !important;

	@include minquery($screen-m) {
		display: block !important;
	}
}
.mobile-only {
	display: block !important;

	@include minquery($screen-m) {
		display: none !important;
	}
}
.site-header {
	box-shadow: var(--no-box-shadow-bottom);
	padding-inline: var(--main-padding-inline);
	&:before {
		background-color: transparent;
		backdrop-filter: blur(0rem);
	}
}

.meta-headline {
	position: absolute;
	top: 15%;
	left: -1rem;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	color: var(--color-primary);
	font-weight: 300;
	margin-bottom: 0;
	text-transform: uppercase;

	@include minquery($screen-m) {
		top: 10%;
	}
	@include minquery($screen-l) {
		top: 12.5%;
	}
}
.text-is-large {
	font-size: clamp(1.75rem, 2.75vw, 1.875rem);
	font-weight: 400;

	&.mobile-small {
		font-size: 18px;

		@include minquery($screen-m) {
			font-size: clamp(1.75rem, 2.75vw, 1.875rem);
		}
	}
}
.home-section {
	display: block;
	position: relative;
	padding: 5rem 2rem 0rem;

	@include minquery($screen-m) {
		padding: 5rem 4rem 2rem;
	}
	.row {
		margin-top: 0rem;

		@include minquery($screen-m) {
			margin-top: 2rem;
		}
	}
	.main-headline {
		font-size: 60px;
		font-weight: 600;
		margin-bottom: 3rem;
		text-transform: uppercase;
		margin-top: 0;

		@include minquery($screen-m) {
			font-size: 100px;
		}
	}

	.home-button {
		margin-top: 1rem;
		margin-bottom: 3rem;
		text-align: center !important;
		min-width: 5rem;
		padding: 0.4375em 1.75em;

		@include minquery($screen-m) {
			margin-top: 3rem;
		}
	}
}
.desktop-projects-preview {
	padding-inline: var(--main-padding-inline);
	background-color: #eceff0;
	padding-bottom: 4rem;
	.centered {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 3rem;

		p {
			width: fit-content;
			font-size: 18px;

			@include minquery($screen-m) {
				font-size: clamp(1.75rem, 2.75vw, 1.875rem);
			}
		}
	}
}
.mobile-projects-preview {
	padding-top: 2rem;
	background-color: #eceff0;
	padding-inline: var(--main-padding-inline);
	.row {
		align-items: flex-start;

		.button {
			min-width: 5rem;
			width: fit-content;
		}
	}
	.centered {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		padding-bottom: 4rem;
		p {
			width: fit-content;
			font-size: 18px;

			@include minquery($screen-m) {
				font-size: clamp(1.75rem, 2.75vw, 1.875rem);
			}
		}
	}
}
.more-button {
	text-align: center !important;
	min-width: 5rem;
	padding: 0.4375em 1.75em;
	background: #3d73ff;
	border: 1px solid #3d73ff;
}
.client-section {
	.center-row {
		padding-top: 4rem;
		justify-content: center;
		margin: auto;
		text-align: center;
		padding-bottom: 1rem;
		width: fit-content;

		p {
			font-size: 18px;
			width: fit-content;

			@include minquery($screen-m) {
				font-size: clamp(1.75rem, 2.75vw, 1.875rem);
			}
		}
	}

	.bottom-row {
		padding-bottom: 0rem;
		justify-content: center;
		margin: auto;
		text-align: center;
		width: fit-content;
		.bottom-col {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
		}
		p {
			font-size: 18px;
			width: fit-content;

			@include minquery($screen-m) {
				font-size: clamp(1.75rem, 2.75vw, 1.875rem);
			}
		}
	}
}
