.footer-menu {
	display: flex;
	align-items: center;

	.nav-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin: 0;
		padding: 0;
		list-style: none;

		.menu-item {
			display: flex;
			align-items: center;

			.menu-item-link {
				text-transform: uppercase;
				font-size: max(0.875em, 0.75vw);
			}
		}
	}
}
