.video {
	position: relative;

	video {
		min-width: 100%;
	}

	.video-placeholder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.can-play {
		.video-placeholder {
			display: none;
		}
	}
}
