// Stylesheet import
@use "@styles/project-section.scss";
@use "@styles/side-note.scss";

// General styling
body {
	main {
		padding: 0;

		h1 {
			margin-bottom: 3rem;
			font-size: 48px;
			hyphens: auto;

			@include minquery($screen-m) {
				font-size: 88px;
			}
		}

		h2,
		h3,
		p,
		a,
		h4 {
			margin-block: 1.75vw;
			font-size: clamp(1.125rem, 1.25vw, 1.328125rem);
		}

		h3 {
			margin-top: 2rem;
			margin-bottom: .15rem;
		}
		p {
			margin: 0;
		}
	}
}

// Component styling
.side-note {
	color: var(--color-primary);
}

.project-section {
	align-items: flex-end;

	.content {
		display: block;
	}
}
